html, body {
  font-family: helvetica, sans-serif;
  font-size: 14px;
}

.todo-list {
  list-style: 0;
  padding-left: 0;
}

.todo-form {
  display: block;
}

.todo-form dl {
  display: inline-block;
  vertical-align: top;
  margin: .5ex 0;
}

.todo-form dt {
  display: none;
}

.todo-form dd {
  margin-left: 0;
}

.todo-form dd.error {
  padding: 1ex 1em;
  margin: 0;
  color: #a00;
}

.todo-form input[type=checkbox] {
  display: block;
  margin-top: 1.5ex;
}

.todo-form input[type=text],
.todo-form button {
  font-size: 14px;
  font-family: helvetica, sans-serif;
  padding: 1ex 1em;
  margin: 0;
  border: 1px solid #ccc;
}

.todo-form button {
  background: #eee;
}